<!DOCTYPE html>
<html>

<body>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories=['c1.component']}"></sly>

<sly data-sly-test="${properties.color=='red'}">
    <p class="red-text bold-text italic-text">${properties.text}</p>
</sly>
 <sly data-sly-test="${properties.color=='blue'}">
     <p class="blue-text bold-text italic-text">${properties.text}</p>
 </sly>
<sly data-sly-test="${properties.color=='black'}">
    <p class="black-text bold-text italic-text">${properties.text}</p>
</sly>
</body>
</html>